header {
  min-height: 5vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
}
header h2 {
  justify-self: start;
  color: #c2c2c5;
}
header nav {
  display: grid;
  place-items: center;
  justify-self: end;
}
header .nav-img {
  width: 40px;
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main {
  min-height: 65vh;
  display: grid;
  place-items: center;
  background-color: #f6f6f8;
}

#one {
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 70vh;
}
#one .main-component {
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 60vh;
}
#one .main-image {
  width: 90px;
  height: 90px;
}
#one .main-title {
  width: 90%;
  font-family: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
#one .main-body {
  text-align: center;
  width: 80%;
}
#one .main-btn {
  width: 40%;
  border: 1.5px solid black;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  #one {
    grid-template-columns: 1fr 1fr;
    min-height: 35vh;
  }
  #one .main-component-img {
    width: 166px;
    transform: scale(1.9);
    min-height: 29vh;
  }
  #one .main-component {
    width: 90%;
    justify-self: end;
    min-height: 55vh;
    order: 2;
  }
  #one .main-image {
    width: 105px;
    justify-self: center;
  }
  #one .main-body {
    text-align: center;
    text-align: center;
    width: 90%;
  }
}
#two {
  display: grid;
  place-items: center;
  background-image: url(/images/breadten.jpg);
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  width: 100%;
}
#two component-title {
  text-align: center;
  color: white;
  letter-spacing: 1.2px;
  font-size: 2.3rem;
  margin: 48px 0;
  font-weight: 400;
}
#two .component-two {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 48px;
}
@media only screen and (min-width: 1000px) {
  #two .component-two {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
#two .card {
  width: 90%;
  min-height: 70vh;
  display: grid;
  place-items: center;
  background-color: white;
  text-align: center;
  margin-top: 22px;
}
@media only screen and (min-width: 600px) {
  #two .card {
    min-height: 64vh;
  }
}
#two .card-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
#two .card-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}
#two .card-body {
  width: 90%;
  font-weight: 100;
  font-size: 0.9rem;
  font-style: italic;
}
#two .card-link {
  margin: 32px 0;
  color: black;
  text-decoration: none;
}
#two .card-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
}

#three {
  display: grid;
  place-items: center;
  text-align: center;
}
#three .main-componentThree {
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 60vh;
}
#three .main-componentThree .main-titleThree {
  font-family: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  width: 80%;
}
#three .main-componentThree .main-bodyThree {
  text-align: center;
  letter-spacing: 1.6px;
  font-weight: 400;
  width: 90%;
  font-size: 0.9rem;
}
#three .main-componentThree .main-btn {
  width: 40%;
  border: 1.5px solid black;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  #three {
    grid-template-columns: 1fr 1fr;
    min-height: 35vh;
  }
  #three .main-component-img {
    width: 166px;
    transform: scale(1.9);
    min-height: 27.6vh;
  }
  #three .main-componentThree {
    width: 90%;
    justify-self: end;
    min-height: 53vh;
  }
  #three .main-body {
    text-align: center;
    text-align: center;
    width: 80%;
  }
}
#four {
  display: grid;
  place-items: center;
  background-image: url(/images/breadfour.jpg);
  background-position: center;
  background-size: cover;
}
#four .component-two {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#four .card {
  width: 90%;
  min-height: 20vh;
  display: grid;
  place-items: center;
  background-color: rgb(7, 7, 7);
  opacity: 0.7;
  text-align: center;
  margin-top: 30px;
}
#four .card-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
#four .card-title {
  color: rgb(214, 156, 8);
  opacity: 1;
  font-weight: 900;
}
#four .card-body {
  width: 90%;
}

#five {
  display: grid;
  place-items: center;
  text-align: center;
}
#five .main-componentFive {
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 30vh;
}
#five .main-componentFive .main-image {
  width: 150px;
}
#five .main-componentFive .main-titleFive {
  font-family: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
#five .main-componentFive .main-bodyFive {
  text-align: center;
}
#five .main-componentFive .main-btn {
  border: 1.5px solid black;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
