header {
  min-height: 5vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
}
header h2 {
  justify-self: start;
  color: #c2c2c5;
}
header nav {
  display: grid;
  place-items: center;
  justify-self: end;
}
header .nav-img {
  width: 40px;
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main {
  min-height: 65vh;
  display: grid;
  place-items: center;
  background-color: #f6f6f8;
}

#one {
  display: grid;
  place-items: center;
  text-align: center;
}
#one .main-component {
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 60vh;
}
#one .main-component .main-image {
  width: 150px;
}
#one .main-component .main-title {
  font-family: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
#one .main-component .main-body {
  text-align: center;
}
#one .main-component .main-btn {
  border: 1.5px solid black;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
}

#two {
  display: grid;
  place-items: center;
  background-image: url(/images/breadten.jpg);
  background-position: center;
  background-size: cover;
}
#two .component-two {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#two .card {
  width: 90%;
  min-height: 70vh;
  display: grid;
  place-items: center;
  background-color: white;
  text-align: center;
  margin-top: 30px;
}
#two .card-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
#two .card-body {
  width: 90%;
}

#three {
  display: grid;
  place-items: center;
  text-align: center;
}
#three .main-componentThree {
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 60vh;
}
#three .main-componentThree .main-titleThree {
  font-family: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
#three .main-componentThree .main-bodyThree {
  text-align: center;
}
#three .main-componentThree .main-btn {
  border: 1.5px solid black;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
}

#four {
  display: grid;
  place-items: center;
  background-image: url(/images/breadfour.jpg);
  background-position: center;
  background-size: cover;
}
#four .component-two {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#four .card {
  width: 90%;
  min-height: 20vh;
  display: grid;
  place-items: center;
  background-color: rgb(7, 7, 7);
  opacity: 0.7;
  text-align: center;
  margin-top: 30px;
}
#four .card-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
#four .card-title {
  color: rgb(214, 156, 8);
  opacity: 1;
  font-weight: 900;
}
#four .card-body {
  width: 90%;
}

#five {
  display: grid;
  place-items: center;
  text-align: center;
}
#five .main-componentFive {
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 30vh;
}
#five .main-componentFive .main-image {
  width: 150px;
}
#five .main-componentFive .main-titleFive {
  font-family: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
#five .main-componentFive .main-bodyFive {
  text-align: center;
}
#five .main-componentFive .main-btn {
  border: 1.5px solid black;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
